<header>
  <div class="logo">
    <a href="{{ site.github.url }}/">{{ site.title }}</a>
  </div>
  <nav>
    {% for item in site.data.settings.menu %}
      <a href="{{ site.github.url }}/{{ item.url }}">{{ item.name }}</a>
    {% endfor %}
  </nav>
</header>

<div class="badge-base LI-profile-badge" data-locale="es_ES" data-size="medium" data-theme="dark" data-type="VERTICAL" data-vanity="ozarate" data-version="v1"><a class="badge-base__link LI-simple-link" href="https://bo.linkedin.com/in/ozarate?trk=profile-badge">Oswaldo Limbert Zárate</a></div>
              