<section>
  <div class="project-container">
    {% for project in site.data.settings.machine_learning %}
      <a href="{{ site.github.url }}/pml/{{ project.url }}">
        <div class="project-unit" data-folder="{{ site.github.url }}/pml/{{ project.url }}" style="background-image: url({{ site.github.url }}/assets/img/ml/{{ project.url }}/thumbnail.jpg)">
          <div class="project-overlay">
            <strong>{{ project.name }} <i class="fa fa-arrow-right" aria-hidden="true"></i></strong>
          </div>
        </div>
      </a>
    {% endfor %}
  </div>
</section>
